<!-- login.component.html -->
<div class="login-container">
  <div class="logo-container">
    <img src="logo.jpeg" alt="TeachMate AI Logo" class="logo" />
  </div>

  <h2 class="text-center mb-4">Bienvenido a TeachMate AI</h2>
  <h3 class="text-center mb-6">Iniciar Sesión</h3>

  <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="space-y-4">
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Usuario</mat-label>
      <input matInput formControlName="username" required />
      <mat-error *ngIf="loginForm.get('username')?.hasError('required')">
        El usuario es requerido
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Contraseña</mat-label>
      <input matInput type="password" formControlName="password" required />
      <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
        La contraseña es requerida
      </mat-error>
    </mat-form-field>

    <div class="flex items-center justify-between">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!loginForm.valid"
      >
        Iniciar Sesión
      </button>
    </div>
  </form>

  <div class="register-container text-center mt-6">
    <span class="text-sm">¿No tienes una cuenta? </span>
    <a routerLink="#" class="text-light-blue font-medium hover:underline">
      Regístrate aquí
    </a>
  </div>
</div>
